{% extends "layout.html" %}

{% block title %}
Simulate Team
{% endblock %}

{% block content %}
<h3 style="text-align: center;">This page is still under construction! Check back soon!</h3>
<img style="display: block; margin-left: auto; margin-right: auto; width: 60%;" src="/static/construction.gif">
<br>

<h1 style="text-align: center;">Bibliography</h1>
<p>
    [1] NBA Logo. url: https://www.nba.com.<br>
    [2] Cal Ripken Quote. AZ Quotes. url: https://www.azquotes.com/quote/712065.<br>
    [3] Bethlehem Shoals. The 25 Most Unbreakable Streaks in Sports. GQ. url: https://www.gq.com/gallery/greatest-sports-streaks.<br>
    [4] Raghav Mittal. What is an ELO Rating? Medium. url: https://medium.com/purple-theory/what-is-elo-rating-c4eb7a9061e0.<br>
    [5] Nate Silver and Reuben Fischer-Baum. How We Calculate NBA Elo Ratings. FiveThirtyEight. url: https://fivethirtyeight.com/features/how- we- calculate- nba- elo-ratings/.<br>
    [6] How Our NFL Predictions Work. FiveThirtyEight. url: https://fivethirtyeight.com/methodology/how-our-nfl-predictions-work/.<br>
    [7] ESPN Analytics. ESPN’s Basketball Power Index. ESPN. url: https://www.espn.com/nba/story/_/page/Basketball-Power-Index/espn-nba-basketball-power-index.<br>
    [8] Mike Lynch. SRS Calculation Details. Sports Reference. url: https : / / www.sports-reference.com/blog/2015/03/srs-calculation-details/.<br>
    [9] Sharon Katz. How ESPN’s NFL Football Power Index was developed. ESPN. url: https://www.espn.com/nfl/story/_/id/13539941/how- espn- nfl- football- power- index-was-developed-implemented.<br>
    [10] Sascha Wilkens. “Sports prediction and betting models in the Machine Learning Age: The case of tennis”. In: Journal of Sports Analytics 7.2 (2021), pp. 99–117. doi: 10.3233/jsa-200463<br>
    [11] Joshua B. Miller and Adam Sanjurjo. “Surprised by the Gambler’s and Hot Hand fallacy? A Truth in the Law of Small Numbers”. In: Econometrica 86.6 (Dec. 2018), pp. 2019–2047. doi: 10.2139/ssrn.2627354.<br>
    [12] Thomas Gilovich, Robert Vallone, and Amos Tversky. “The hot hand in basketball: On the misperception of random sequences”. In: Cognitive Psychology 17.3 (1985), pp. 295–314. doi: 10.1016/0010-0285(85)90010-6.<br>
    [13] Yao Zhang, Eric T. Bradlow, and Dylan S. Small. “New Measures of Clumpiness for Incidence Data”. In: Journal of Applied Statistics 40.11 (2013), pp. 2533–2548. doi: 10.1080/02664763.2013.818627.<br>
    [14] Patrick R. McMullen. “Standardization of winning streaks in sports”. In: Applied Mathematics 08.03 (2017), pp. 344–357. doi: 10.4236/am.2017.83029.<br>
    [15] Jim Albert. Streaky and Consistent Teams? Sept. 2017. url: https://baseballwithr.wordpress.com/2017/09/18/streaky-and-consistent-teams/.<br>
</p>
{% endblock %}