{% extends "layout.html" %}
{% block title %}
Home page
{% endblock %}
{% block content %}
<h3 style="text-align: center;">Welcome to the webpage for Harry Jain's senior thesis in CS and Math!</h3>
<h6 style="text-align: center;">While most of the site (and thesis) is still under construction, bookmark this page to follow along with progress and learn all about streaks in the NBA...</h6>
<img style="display: block; margin-left: auto; margin-right: auto; width: 60%;" src="/static/construction.jpg">
{% endblock %}