<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initital-scale=1, shrink-to-fit="no">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.css" integrity="sha384-3UiQGuEI4TTMaFmGIZumfRPtfKQ3trwQE2JgosJxCnGmQpL/lJdjpcHkaaFwHlcI" crossorigin="anonymous">
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.js" integrity="sha384-G0zcxDFp5LWZtDuRMnBkk3EphCK1lhEf4UEyEM693ka574TZGwo4IWwS6QLzM/2t" crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
        <link href="/static/bootstrap.css", rel="stylesheet">
        
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="/static/NBA_logo.png" style="height: 40px;" hspace="10px">Streaky Good Models</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/proposal">Project Proposal</a>
                                <a class="dropdown-item" href="/midterm">Midterm Presentation</a>
                                <a class="dropdown-item" href="/math">Final Math Presentation</a>
                                <a class="dropdown-item" href="/report">Final Report</a>
                                <a class="dropdown-item" href="/repository">GitHub Repository</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Background</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/hot-hand">The Hot Hand</a>
                                <a class="dropdown-item" href="/streak-measures">Streak Measures</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Simulations</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/measure-simulations">Measure Simulations</a>
                                <a class="dropdown-item" href="/streak-simulations">Streak Simulations</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/game-predictions">Predictions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/conclusions">Conclusions</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/proposal">Proposal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/teams">Teams</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/games">Games</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/stats">Statistics</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>

        <main class="container p-2">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>&copy; 2023</p>
            </footer>
        </main>
    </body>
</html>