{% extends "layout.html" %}

{% block title %}
Simulate Team
{% endblock %}

{% block content %}

<form action="/teams/" method="post">
    <div class="form-group">
        <label for="exampleSelect1" class="form-label mt-4">Simulate 2021-22 Season Streaks</label>
        <select name="team" class="form-select" id="exampleSelect1" onchange="this.form.submit()">
            {% if not selected %}
            <option selected disabled>Select a team</option>
            {% endif %}
            {% for team in teams %}
                {% if team == selected %}
                <option selected>{{ team }}</option>
                {% else %}
                <option>{{ team }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
</form>

{% if selected and plotdata %}
<img style="display: block; margin-left: auto; margin-right: auto; margin-top: 15px; width: 70%;" src="data:image/png;base64,{{ plotdata }}">
{% endif %}

{% endblock %}